@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.main-bg-color{
    background-color: #0c1014;
}

.custom-overflow-track::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-overflow-track::-webkit-scrollbar-track {
  background: #1f2933;
  border-radius: 10px;
}

.custom-overflow-track::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 10px;
}

.custom-overflow-track::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}